@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
	/* background: #2C2F33; */
	background: #152b16;
	color: white;
	font-size: 100%;
	font-family: 'Ubuntu', 'sans-serif';
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

a {
	text-decoration: none;
	/*color: white;*/
	color:#60ff6b;
	padding: 0;
	margin: 0;
}

a.display {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

footer {
	width: 500px;
	margin: 0 auto;
}

.privacy {
	font-family: 'monospace';
}

/* Dropdown Styling */

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background: #23272A;*/
	background: #001902;
}

.navbar li {
	float: right;
}

.navbar li.account {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
	/*background-color:#171a1c;*/
	background: rgba(255,255,255,0.05)
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	/*background:#3a4145;*/
	background:#002b03;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background:#171a1c;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* The rest */

.logotitle {
	font-weight: bold;
}

.navbar {
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
}

ul.foot {
	list-style-type: none;
}

ul.foot li {
	float: left;
}

h1, h2, .center {
	text-align: center;
}

i {
	font-family: 'Ubuntu', 'sans-serif';
}

.floatRight {
	float: right;
}

input, button {
	/*background: #23272A;*/
	background:#002b03;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-family: 'Ubuntu', 'sans-serif'
	margin: 5px;
	padding: 10px;
	width: 30%;
}

button {
	margin-top: 10px;
	display: block;
	width: 100px;
}

.rightInfo {
	float: right;
	text-align: right;
	width: 50%;
}

button {
	display: inline-block;
	width: auto;
}

button:hover {
	text-decoration: none;
	cursor: pointer;
}

button[disabled], input[disabled] {
	color: grey;
	cursor: not-allowed;
}

input[type=color] {
	padding: 10px;
	height: 50px;
	width: 400px;
}

img:not(.no-round) {
	border: 1px solid transparent;
	border-radius: 100%;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
	footer {
		width: auto;
		margin: 5px;
		font-size: 10px;
	}
}